
<ion-view view-title="">
<ion-nav-buttons side="left">
<a class="button icon-right ion-android-arrow-dropdown button-clear button-assertive">August</a>

</ion-nav-buttons>
<ion-nav-buttons side="right">
<a class="button button-icon ion-android-search button-assertive button-clear"></a>
<a class="button button-icon ion-android-funnel button-assertive button-clear"></a>
<a class="button button-icon ion-bookmark button-assertive button-clear"></a>
</ion-nav-buttons>

<ion-content class="padding">

<div class="list card">
	<div class="item item-divider item-assertive">AUGUST</div>
	<div class="item item-image">
		<img src="img/Ngo-Hai-Yen-1.jpg">
	</div>

	<div class="row row-center item padding">
		<div class="col col-center text-center item-assertive"><a class="title">01<br> | <br>10<br></a></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive padding-top padding-horizontal">
				<a class="title">Vietnamese Lacquer Painting Exhibition in Korea</a>
			</div>
			<div class="padding-bottom padding-horizontal">Ganaisa Art Center, Seoul, Korea</div>
		</div>
	</div>

	<div class="row row-center item padding">
		<div class="col col-center text-center item-assertive"><a class="title">07</a></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive padding-top padding-horizontal">
				<a class="title">Film Screening "9 Mois Ferme" by Albert Dupontel</a>
			</div>
			<div class="padding-bottom padding-horizontal">L'Espace</div>
		</div>
	</div>
	<div class="row row-center item padding">
		<div class="col col-center text-center item-assertive"><a class="title">03</a></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive padding-top padding-horizontal">
				<a class="title">Tango Night “María de Buenos Aires” of Astor Piazzola</a>
			</div>
			<div class="padding-bottom padding-horizontal">V-art Club</div>
		</div>
	</div>
		<div class="row row-center item padding">
		<div class="col col-center text-center item-assertive"><a class="title">03</a></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive padding-top padding-horizontal">
				<a class="title">Exhibition "Heterotopias as Other" by artist Lien Truong</a>
			</div>
			<div class="padding-bottom padding-horizontal">V-art Club</div>
		</div>
	</div>
		<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><a class="title">03</a></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive padding-top padding-horizontal">
				<a class="title">Crowdfunding Campaign "Lang's House - Dream of Rebirth"</a>
			</div>
			<div class="padding-bottom padding-horizontal">V-art Club</div>
		</div>
	</div>
		<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><a class="title">03</a></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive padding-top padding-horizontal">
				<a class="title">Tango Night “María de Buenos Aires” of Astor Piazzola</a>
			</div>
			<div class="padding-bottom padding-horizontal">V-art Club</div>
		</div>
	</div>

</div>

<div class="list card">
	<div class="item item-divider item-assertive">SEPTEMBER</div>
	<div class="item item-image">
		<img src="img/Mien-Meo-Mieng-Sweden-Bildmuseet.jpg">
	</div>

	<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><a class="title">01<br> | <br>10<br></a></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<a class="title">Vietnamese Lacquer Painting Exhibition in Korea</a>
			</div>
			<div>Ganaisa Art Center, Seoul, Korea</div>
		</div>
	</div>

	<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><a class="title">07</a></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<a class="title">Film Screening "9 Mois Ferme" by Albert Dupontel</a>
			</div>
			<div>L'Espace</div>
		</div>
	</div>



</div>

<div class="list card">
	<div class="item item-divider item-assertive">October</div>
	<div class="item item-image">
		<img src="img/Trien-lam-trat-tu-Le-Thuy.jpg">
	</div>

	<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><a class="title">01<br> | <br>10<br></a></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<a class="title">Vietnamese Lacquer Painting Exhibition in Korea</a>
			</div>
			<div>Ganaisa Art Center, Seoul, Korea</div>
		</div>
	</div>

	<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><a class="title">07</a></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<a class="title">Film Screening "9 Mois Ferme" by Albert Dupontel</a>
			</div>
			<div>L'Espace</div>
		</div>
	</div>

</div>

<div class="list card">
	<div class="item item-divider">Recent Updates</div>
	<div class="item item-body">
		<div>
			There is a fire in <a class="title">sector 3</a>
		</div>
	</div>
</div>
<div class="list card">
	<div class="item item-divider">Health</div>
	<div class="item item-body">
		<div>
			You ate an apple today!
		</div>
	</div>
</div>
<div class="list card">
	<div class="item item-divider">Upcoming</div>
	<div class="item item-body">
		<div>
			You have <a class="title">29</a> meetings on your calendar tomorrow.
		</div>
	</div>
</div>
</ion-content>
</ion-view>
