
<ion-view view-title="">
<ion-nav-buttons side="left">
<a class="button icon-right ion-android-arrow-dropdown button-clear button-assertive">August</a>

</ion-nav-buttons>
<ion-nav-buttons side="right">
<a class="button button-icon ion-android-search button-assertive button-clear"></a>
<a class="button button-icon ion-android-funnel button-assertive button-clear"></a>
<a class="button button-icon ion-bookmark button-assertive button-clear"></a>
</ion-nav-buttons>

<ion-content class="padding">

<div class="list card">
	<div class="item item-divider item-assertive">August</div>
	<div class="item item-image">
		<img src="img/Ngo-Hai-Yen-1.jpg">
	</div>

	<div class="row row-center item padding">
		<div class="col col-center text-center item-assertive"><b>01<br> | <br>10<br></b></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<b>Vietnamese Lacquer Painting Exhibition in Korea</b>
			</div>
			<div>Ganaisa Art Center, Seoul, Korea</div>
		</div>
	</div>

	<div class="row row-center item padding">
		<div class="col col-center text-center item-assertive"><b>07</b></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<b>Film Screening "9 Mois Ferme" by Albert Dupontel</b>
			</div>
			<div>L'Espace</div>
		</div>
	</div>
	<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><b>03</b></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<b>Tango Night “María de Buenos Aires” of Astor Piazzola</b>
			</div>
			<div>V-art Club</div>
		</div>
	</div>
		<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><b>03</b></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<b>Exhibition "Heterotopias as Other" by artist Lien Truong</b>
			</div>
			<div>V-art Club</div>
		</div>
	</div>
		<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><b>03</b></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<b>Crowdfunding Campaign "Lang's House - Dream of Rebirth"</b>
			</div>
			<div>V-art Club</div>
		</div>
	</div>
		<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><b>03</b></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<b>Tango Night “María de Buenos Aires” of Astor Piazzola</b>
			</div>
			<div>V-art Club</div>
		</div>
	</div>

</div>

<div class="list card">
	<div class="item item-divider item-assertive">September</div>
	<div class="item item-image">
		<img src="img/Mien-Meo-Mieng-Sweden-Bildmuseet.jpg">
	</div>

	<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><b>01<br> | <br>10<br></b></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<b>Vietnamese Lacquer Painting Exhibition in Korea</b>
			</div>
			<div>Ganaisa Art Center, Seoul, Korea</div>
		</div>
	</div>

	<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><b>07</b></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<b>Film Screening "9 Mois Ferme" by Albert Dupontel</b>
			</div>
			<div>L'Espace</div>
		</div>
	</div>



</div>

<div class="list card">
	<div class="item item-divider item-assertive">October</div>
	<div class="item item-image">
		<img src="img/Trien-lam-trat-tu-Le-Thuy.jpg">
	</div>

	<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><b>01<br> | <br>10<br></b></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<b>Vietnamese Lacquer Painting Exhibition in Korea</b>
			</div>
			<div>Ganaisa Art Center, Seoul, Korea</div>
		</div>
	</div>

	<div class="row row-center item">
		<div class="col col-center text-center item-assertive"><b>07</b></div>
		<div class="col col-90">
			<div class="item-text-wrap assertive">
				<b>Film Screening "9 Mois Ferme" by Albert Dupontel</b>
			</div>
			<div>L'Espace</div>
		</div>
	</div>

</div>

<div class="list card">
	<div class="item item-divider">Recent Updates</div>
	<div class="item item-body">
		<div>
			There is a fire in <b>sector 3</b>
		</div>
	</div>
</div>
<div class="list card">
	<div class="item item-divider">Health</div>
	<div class="item item-body">
		<div>
			You ate an apple today!
		</div>
	</div>
</div>
<div class="list card">
	<div class="item item-divider">Upcoming</div>
	<div class="item item-body">
		<div>
			You have <b>29</b> meetings on your calendar tomorrow.
		</div>
	</div>
</div>
</ion-content>
</ion-view>
